@page "/events"
@attribute [Authorize(Roles = $"{AppRoles.User}")]
@using Rise.Client.Events.Components
@using Rise.Shared.Identity
@layout MainLayout

<div class="flex flex-col h-screen">
    <div class="flex-shrink-0">
        <TopBar
            Title="Evenementen"
            Class="text-center"
        />
    </div>

    <div class="flex-1 overflow-y-auto pb-24">
        @if (_errorMessage != null)
        {
            <div class="mx-4 mt-4 p-4 bg-red-50 border border-red-200 rounded-lg text-red-700">
                @_errorMessage
            </div>
        }

        @if (_events == null)
        {
            <div class="text-center text-neutral-500 mt-6">
                <LoadingIndicator Centered="true" Message="Evenementen laden..." Class="justify-center" />
            </div>
        }
        else if (!_events.Any())
        {
            <p class="text-center text-neutral-500 mt-6">Geen evenementen gevonden.</p>
        }
        else
        {
            @foreach (var e in _events)
            {
                <EventCard EventId="@e.Id"
                           ImageUrl="@e.ImageUrl"
                           Title="@e.Name"
                           Location="@e.Location"
                           DateText="@e.Date.ToString("d MMM 'om' HH:mm", new System.Globalization.CultureInfo("nl-BE"))"
                           InterestedUsers="@e.InterestedUsers"
                           IsInterested="@IsUserInterested(e)"
                           Price="@e.Price"
                           OnToggleInterest="@HandleToggleInterest" />
            }
        }
    </div>
</div>

