@* Eén chatbubbel, inkomend of uitgaand *@
@if (IsOutgoing)
{
    <div class="flex justify-end">
        <div class="@OutgoingBubbleClasses">
            @RenderContent()
        </div>
    </div>
}
else
{
    <div class="flex items-end gap-2">
        @if (!string.IsNullOrWhiteSpace(AvatarUrl))
        {
            <img src="@AvatarUrl" alt="" class="h-7 w-7 rounded-full object-cover border border-neutral-200 shrink-0 cursor-pointer " />
        }
        else
        {
            <span class="inline-block h-7 w-7"></span>
        }

        <div class="@IncomingBubbleClasses">
            @RenderContent()
        </div>
    </div>
}
